@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

html { 
  font-family: 'Alegreya', serif;
} 

.main-logo {
  height: 4rem; 
  display: flex;
  align-items: center;
}

.main-logo img {
  height: 100%;
  width: auto;
}
